
/* Boiler Plate */

html {
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  background: hsl(0, 0%, 95%);
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#main {
  flex: 1;
  display: flex;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: row;
}



/* Popover */

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background: hsl(0, 0%, 27%);
  color: white;
  border-radius: 0.3rem;
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%)
}



/* Menu/Toolbar */

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: 7% 0 4% 10%;
}

.control {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 0.5rem;
  cursor: default;
  background: white;
  color: hsla(0,0%,0%,0.3);
  transition: background-color 0.05s;
}

.control:last-child {
  margin-bottom: none;
}

.control:hover {
  color: hsla(0,0%,0%,0.5);
  background-color: hsla(0,0%,100%,0.4);
}



/* Main View */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
