/* Boilerplate */

html {
  height: 200rem;
}

#app {
  flex-direction: column;
  align-items: center;
}

/* Popover */

.Popover-body {
  padding: 4rem;
}

/* Target */

.Target {
  -webkit-user-select: none;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.Target-Move,
.Target-Toggle {
  border: 1px solid hsla(0, 0%, 0%, 50%);
}

.Target > *:active {
  border-color: hsla(0, 0%, 0%, 100%);
}

.Target-Move {
  padding: 1rem;
  cursor: move;
  border-bottom-width: 0px;
}

.Target-Toggle {
  display: block;
  padding: 1rem;
  cursor: pointer;
}

/* Demo Controls */

form {
  margin-top: 2rem;
  margin-bottom: calc(50vh - 6rem);
}

input {
  margin-left: 1rem;
}

label:not(:first-child) {
  margin-left: 2rem;
}
