/* Boilerplate */

html {
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#root {
  display: flex;
  flex: 1;
}

#app {
  display: flex;
  flex: 1;
}

/* Popover */

.Popover-body {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem 4rem;
  border: 1px solid hsl(0, 0%, 27%);
}

.Popover-tipShape {
  fill: hsl(0, 0%, 27%);
}
